<div class="container">
    <form [formGroup]="blockFormGroup" #blockForm="ngForm">
        <div class="form-group" style="margin: 10px;">
            <label>Product code: </label>
            <input type="text" class="form-control" name="productCode" formControlName="productCode">
        </div>
        
        <div class="row">
          <div class="form-group col-md-3" style="margin: 5px;">
            <label>Length: </label>
            <input type="text" class="form-control" name="productLength" formControlName="productLength">
          </div>

          <div class="form-group col-md-3" style="margin: 5px;">
            <label>Width: </label>
            <input type="text" class="form-control" name="productWidth" formControlName="productWidth">
          </div>

          <div class="form-group col-md-3" style="margin: 5px;">
            <label>Height: </label>
            <input type="text" class="form-control" name="productHeight" formControlName="productHeight">
          </div>
        </div>

        <div class="form-group" style="margin: 5px;">
          <label>Weight: </label>
          <input type="text" class="form-control" name="productWeight" formControlName="productWeight">
        </div>

        <div class="form-group" style="margin: 5px;">
            <label>Remarks: </label>
            <input type="text" class="form-control" name="remarks" formControlName="remarks">
        </div>

        <button type="submit" (click)="saveBlockDetails(blockForm)" class="btn btn-primary" style="margin: 5px;">Submit</button>
      </form>
</div>