<div class="container">
  <form [formGroup]="stockFormGroup" #stockForm="ngForm">
    <div class="form-group" style="margin: 10px;">
      <label>Product code: </label>
      <input type="text" class="form-control" name="productCode" formControlName="productCode">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label for="godownLocation">Locations: </label>
      <select name="godownLocation" id="godownLocation" class="form-control" formControlName="godownLocation" required>
        <option *ngFor="let godown of goDownLocations" [value]="godown.label">{{ godown.label }}</option>
      </select>
    </div>

    <div class="form-group" style="margin: 10px;">
      <label for="productQuality">Product Quality: </label>
      <select name="productQuality" id="productQuality" class="form-control" formControlName="productQuality" required>
        <option *ngFor="let quality of productQuality" [value]="quality.label">{{ quality.label }}</option>
      </select>
    </div>

    <div class="form-group" style="margin: 10px;">
      <label for="productFinished">Product Finishes: </label>
      <select name="productFinished" id="productFinished" class="form-control" formControlName="productFinished"
        required>
        <option *ngFor="let quality of finishesRange" [value]="quality.label">{{ quality.label }}</option>
      </select>
    </div>

    <div class="row" style="padding-left: 5px;">
      <div class=" form-group col-md-3" style="margin: 5px;">
        <label>Length: </label>
        <input type="number" class="form-control" name="productLength" formControlName="productLength">
      </div>
      <div class="form-group col-md-3" style="margin: 5px;">
        <label>Width: </label>
        <input type="number" class="form-control" name="productWidth" formControlName="productWidth">
      </div>
      <div class="form-group col-md-3" style="margin: 5px;">
        <label>Number of Pieces: </label>
        <input type="number" class="form-control" name="productPieces" formControlName="productPieces">
      </div>
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="productThickness">Thickness: </label>
      <select name="productThickness" id="productThickness" class="form-control" formControlName="productThickness"
        required>
        <option *ngFor="let quality of thicknessRange" [value]="quality.label">{{ quality.label }} mm</option>
      </select>
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>Quantity: </label>
      <input type="number" class="form-control" name="quantity" formControlName="quantity">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>Ex-factory cost/per sqft: </label>
      <input type="number" class="form-control" name="exFactoryCost" formControlName="exFactoryCost">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>Freight/per sqft: </label>
      <input type="number" class="form-control" name="freightCost" formControlName="freightCost">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>Miscellaneous Cost/per sqft: </label>
      <input type="number" class="form-control" name="miscellaneousCost" formControlName="miscellaneousCost">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>In-House Cost/per sqft: </label>
      <input type="number" class="form-control" name="inHouseCost" formControlName="inHouseCost">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>Selling Cost/per sqft:</label>
      <input type="number" class="form-control" name="sellingCost" formControlName="sellingCost">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="status">Status: </label>
      <select name="status" id="status" class="form-control" formControlName="status" required>
        <option *ngFor="let status of statusOption" [value]="status.label">{{ status.label }}</option>
      </select>
    </div>

    <div class="form-group" style="margin: 10px;">
      <label>Remarks</label>
      <input type="text" class="form-control" name="remark" formControlName="remark">
    </div>
    <div class="form-group" style="margin: 10px">
      <label>Upload or Take a Photo</label>
      <div class="d-flex align-items-center gap-2 mb-3">
        <input type="file" #fileInput accept="image/*" (change)="onImageSelected($event)" hidden>
        <button class="btn btn-primary" (click)="fileInput.click()">
          Add Image
        </button>

        <button *ngIf="!isMobile" class="btn btn-primary" (click)="openCamera()">
          Take a Photo
        </button>
      </div>

      <div *ngIf="!isMobile && showCamera" class="camera-modal p-3 rounded shadow-lg">
        <div class="video-wrapper mb-3">
          <video #video autoplay class="video-frame rounded border w-100"></video>
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-success me-2" (click)="capturePhoto()">Capture</button>
          <button class="btn btn-danger" (click)="closeCamera()">Cancel</button>
        </div>

        <canvas #canvas style="display:none;"></canvas>
      </div>

      <div *ngIf="previewImg">
        <img [src]="previewImg" alt="Captured Image" style="margin-top: 10px; max-width: 25vw;">
      </div>
    </div>

    <div class="container mt-4">
      <h2 class="text-center">Enter Slab Details</h2>

      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Length</th>
            <th>Wsidth</th>
            <th colspan="2">Less</th>
            <th>Size</th>
            <th>Remarks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let form of slabPieceForm; let i = index" [formGroup]="form">
            <td>
              <span>{{ form.value.id }}</span>
            </td>
            <td>
              <input *ngIf="form.value.editable" formControlName="length" class="form-control"
                placeholder="Enter length">
              <span *ngIf="!form.value.editable">{{ form.value.length }}</span>
            </td>
            <td>
              <input *ngIf="form.value.editable" formControlName="width" class="form-control" placeholder="Enter width">
              <span *ngIf="!form.value.editable">{{ form.value.width }}</span>
            </td>
            <td>
              <input *ngIf="form.value.editable" formControlName="lessLength" class="form-control"
                placeholder="Enter length">
              <span *ngIf="!form.value.editable">{{ form.value.lessLength }}</span>
            </td>
            <td>
              <input *ngIf="form.value.editable" formControlName="lessWidth" class="form-control"
                placeholder="Enter width">
              <span *ngIf="!form.value.editable">{{ form.value.lessWidth }}</span>
            </td>
            <td>
              <span>{{ form.value.totalArea }}</span>
            </td>
            <td>
              <input *ngIf="form.value.editable" formControlName="remark" class="form-control"
                placeholder="Enter Remarks">
              <span *ngIf="!form.value.editable">{{ form.value.remark }}</span>
            </td>
            <td>
              <button *ngIf="!form.value.editable" (click)="editUser(i)" class="btn btn-primary btn-sm"
                style="margin: 10px;">Edit</button>
              <button *ngIf="form.value.editable" (click)="saveUser(i)" class="btn btn-success btn-sm"
                style="margin: 10px;">Save</button>
              <button *ngIf="form.value.editable" (click)="cancelEdit(i)" class="btn btn-warning btn-sm"
                style="margin: 10px;">Cancel</button>
              <button (click)="deleteUser(i)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button (click)="addNewRow()" class="btn btn-success mb-2">+ Add New Row</button>

    </div>
    <button type="submit" class="btn btn-primary" (click)="saveSlabDetails(stockForm)"
      style="margin: 10px;">Submit</button>
  </form>
</div>