<div class="charts1">
    <div>
        <h4>Status Distribution</h4>
        <div echarts [options]="statusChartOptions" class="echart"></div>
    </div>

    <div>
        <h4>Inventory by Godown</h4>
        <div echarts [options]="godownChartOptions" class="echart"></div>
    </div>
</div>

<div class="charts2">
    <div>
        <h4>Product Quality with Status Breakdown</h4>
        <div echarts [options]="productQualityGroupedChartOptions" class="echart-lg"></div>
    </div>
</div>

<div class="footer">
    <h6>
        Made with
        <img src="././assets/images/heart-icon.svg" class="footer-svg" />
        in Udaipur
    </h6>
</div>